# PyYAML
pyyaml>=5.1

# Jupyter Editor Auto-complete
#jupyter-tabnine
ipython>=8.2.0
jedi
robotkernel

# plot
matplotlib

# NLP Processing
nltk
gensim

# Spacy
#spacy
#neuralcoref

# Math / Algebra Libs
numpy
pandas
pandasql
Pillow
scikit_learn
scipy

# Plots
seaborn
pyLDAvis
networkx

# Graphviz, Network Node-Edge
pydot
networkx

# RDF Libs
rdflib
sparqlwrapper

# Virtual env
virtualenv
virtualenvwrapper

# ML Packages: PyTorch, Lightning, Transformers
keras
torch
transformers
pytorch-lightning
pytorch-pretrained-bert

# Web REST API
Flask
langdetect

# Visual tools
tqdm

# Google
gdown

# ONNX tools
skl2onnx
tf2onnx
keras2onnx

# ONNX
onnx
onnxmltools
onnxruntime
